<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="/">EatLah</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="../restaurant" class="nav-link">Restaurants</a></li>
        </ul>
        <ul class="nav navbar-nav">
            <%if (user) { %>
                <li class="nav-item" >
                    <a href="/user/<%= user.username %>" class="nav-link" style="color: gold">
                        Welcome : <%= user.username %>
                        <%if (user.isManager) { %>
                        (manager)
                        <%} else { %>
                        (customer)
                        <% } %>
                        <br>
                    </a>
                </li>
                <li class="nav-item"><a href="../logout" class="nav-link" >Logout</a></li>
            <% } else { %>
                <li class="nav-item"><a href="login" class="nav-link">Login</a></li>
                <li class="nav-item"><a href="register" class="nav-link">Register</a></li>
            <% } %>
        </ul>
        </div>
    </div>
</nav>
