<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="/App/public/stylesheets/roboto-font.css">
	<link rel="stylesheet" type="text/css" href="/App/public/fonts/font-awesome-5/css/fontawesome-all.min.css">
	<!-- Main Style Css -->
    <link rel="stylesheet" href="/App/public/stylesheets/register_style.css"/>
</head>
<body class="form-v5">
	<div class="page-content">
		<div class="form-v5-content">
			<form class="form-detail" action="" method="post">
				<h2>Reset Password Form</h2>
				<div class="form-row">
					<label for="password">Password</label>
					<input type="password" name="password" id="password" class="input-text" placeholder="Your New Password" required>
					<i class="fas fa-lock"></i>
        </div>
				<div class="form-row-last">
					<input type="submit" name="reset_password" class="reset_password" value="reset_password">
				</div>
      </form>
      
		</div>
	</div>
</body>
</html>

