<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Add Restaurants</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/roboto-font.css">
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-5/css/fontawesome-all.min.css">
	<!-- Main Style Css -->
    <link rel="stylesheet" href="/stylesheets/register_style.css"/>
</head>
<body class="form-v5">
	<div class="page-content">
		<div class="form-v5-content">
			<form class="form-detail" action="" method="post">
				<h2>Add Restaurant Form</h2>
				<div class="form-row">
					<label for="name">Your restaurant name</label>
					<input type="text" name="name" id="name" class="input-text" placeholder="Your new restaurant name" required>
					<i class="fas fa-user"></i>
				</div>

				<div class="form-row">
					<label for="address">Your restaurant address</label>
					<input type="text" name="address" id="address" class="input-text" placeholder="Your new restaurant's address" required>
					<!-- <i class="fas fa-user"></i> -->
        </div>

				<div class="form-row">
					<label for="location">Which part of Singapore are you located?</label>
					<div class="locationform">
					<select class="locationbox" name="location">
						<option class="selectcontents" value="West">West</option>
						<option class="selectcontents" value="East">East</option>
						<option class="selectcontents" value="North">North</option>
						<option class="selectcontents" value="South">South</option>
						<option class="selectcontents" value="Central">Central</option>
					</select>
				</div>
				</div>

        <div class="form-row">
          <label for="open_time">Choose your opening time</label>
          <input type="time" id="open_time" name="open_time" min="6:00" max="18:00" required>
          <!-- <i class="fas fa-user"></i> -->
          <!-- <span class="note">Office hours are 9am to 6pm</span> -->
				</div>

        <div class="form-row">
          <label for="close_time">Choose your closing time:</label>
          <input type="time" id="close_time" name="close_time">
          <!-- <i class="fas fa-user"></i> -->
          <!-- <span class="note">Office hours are 9am to 6pm</span> -->
        </div>

				<div class="form-row">
					<label for="contacts">Your restaurant contact number</label>
          <input type="tel" name="contacts" maxlength="10" placeholder="Your new restaurant's contact" required>
          <!-- <i class="fas fa-lock"></i> -->
        </div>

        <div class="form-row">
					<label for="menu_name">Your first menu name</label>
        	<input type="text" name="menu_name" id="menu_name" class="input-text" placeholder="Your firt menu name" required>
        </div>

				<div class="form-row">
					<label for="cuisines">Cuisines you serve</label>

					<select class="selectbox" name="cuisines" multiple required>
						<option class="selectcontents" value="Chinese">Chinese</option>
						<option class="selectcontents" value="Western">Western</option>
						<option class="selectcontents" value="Korean">Korean</option>
						<option class="selectcontents" value="Indian">Indian</option>
						<option class="selectcontents" value="Japanese">Japanese</option>
					</select>

				</div>
        <!-- <div class="row">
          <input class="radio col s6" type="radio" id="customer" name="usertype" value="customer">
          <label class="radio-label" for="customer">Customer</label>

          <input class="radio col s6" type="radio" id="branch_manager" name="usertype" value="branch_manager">
					<label class="radio-label" for="manager">Branch Manager</label>

					<input class="radio col s6" type="radio" id="restaurant_manager" name="usertype" value="restaurant_manager">
					<label class="radio-label" for="manager">Restaurant Manager</label>

        </div> -->

				<div class="form-row-last">
					<input type="submit" name="register" class="register" value="Register">
				</div>
      </form>

		</div>
	</div>
</body>
</html>
