<!DOCTYPE html>
<html>
  <head>
    <!-- Page Title -->
    <title>User Register System</title>
    <link rel='stylesheet' href='/stylesheets/register_style.css' />
    
    <!-- CSS for Styling -->
    <link rel="styl sesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    
    <!-- JavaScript for Interactivity -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- ADDED JavaScript -->
    <script src="javascripts/registerScript.js"></script>
  </head>
  <body class="bg-dark">
    <div class="container">
      <div class="row">
        <form class="col s12" id="reg-form" action="register" role= "form" method="post">
          <div class="row">
          <div class="input-field col s12">
            <input id="username" name="username" type="username" class="validate" required>
            <label for="username">username</label>
          </div>
          </div>

          <div class="row">
          <div class="input-field col s6">
            <input id="first_name" name="first_name" type="text" class="validate" required>
            <label for="first_name">First Name</label>
          </div>
          <div class="input-field col s6">
            <input id="last_name" name="last_name" type="text" class="validate" required>
            <label for="last_name">Last Name</label>
          </div>
          </div>

          <div class="row">
          <div class="input-field col s12">
            <input id="password" name="password" type="password" class="validate" minlength="6" required>
            <label for="password">Password</label>
          </div>
          </div>

          <div class="row">
          <div class="input-field col s6">
            <div class="usertype-customer">
            <input class="with-gap" name="usertype" type="radio" id="customer" required />
            <label for="customer">Customer</label>
            </div>
            <div class="usertype-manager">
            <input class="with-gap" name="usertype" type="radio" id="manager" required />
            <label for="manager">Manager</label>
            </div>
          </div>
      
          <div class="input-field col s6">
            <button class="btn btn-large btn-register waves-effect waves-light" type="submit" name="action">Register
            <i class="material-icons right">done</i>
            </button>
          </div>
          </div>
        </form>
        </div>
      </div>
  </body>     
    
    <script>
      (function() {
        window.addEventListener('load', function() {
          var forms = [document.getElementById('html_form')];
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', check, false);
          });
        }, false);
      })();
    </script>
  </body>
</html> 

